<VirtualHost *:8080>
    ServerAdmin webmaster@localhost
    ServerName drupal
    ServerAlias localmyelx.cloudapp.net
    DocumentRoot /home/vagrant/www/elx-learning-module
    
    SetEnv APPLICATION_ENV development
    
    <Directory /home/vagrant/www/elx-learning-module>
            Options Indexes FollowSymLinks MultiViews
            EnableSendfile Off
            AllowOverride All
            Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/myelx_error.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel error

    CustomLog ${APACHE_LOG_DIR}/resa_access.log combined

</VirtualHost>

<VirtualHost *:443>
    DocumentRoot "/home/vagrant/www/elx-learning-module"
    ServerName resa:443
    ServerAdmin webmaster@localhost
    EnableSendfile Off
    ErrorLog "${APACHE_LOG_DIR}/resa_ssl_error.log"
    TransferLog "${APACHE_LOG_DIR}/resa_ssl_transfer_access.log"

    SSLEngine on
    SSLCipherSuite ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP:+eNULL

    SSLCertificateFile    "/home/vagrant/project.crt"
    SSLCertificateKeyFile "/home/vagrant/project.key"

    <FilesMatch "\.(cgi|shtml|phtml|php)$">
        SSLOptions +StdEnvVars
    </FilesMatch>

    <Directory "/home/vagrant/www/elx-learning-module">
        Options FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    BrowserMatch ".*MSIE.*" \
             nokeepalive ssl-unclean-shutdown \
             downgrade-1.0 force-response-1.0

</VirtualHost>

